.app-scoreboard {
	padding: 0.5rem var(--gutter-width);

	h3 {
		margin-bottom: 0; //0.25em;
		font-size: 1.1rem; // TODO
		// font-weight: 500;

		& + p {
			margin-top: 0.5em;
		}
	}
}

.score {
	position: sticky;
	top: 110px;
	font-size: var(--sm-font-size);
}

.score-pillar {
	p {
		margin-top: 0;
		margin-bottom: 0.25em;
		text-transform: capitalize;
	}

	span {
		font-weight: 400;
		color: #bbb;
	}
}

span.score-delta {
	color: var(--md-grey-font-color);
}

.meter-container {
	width: 200px;
	height: 18px;
	margin-bottom: 1em;
	overflow: hidden;
	background: #e1e4f5; // #f6f7fd;
	// border: 1px solid #aeb6d7;

	.meter-bar {
		background-color: #8fa4ff;
	}
}
