table {
	caption-side: bottom;
	border-collapse: collapse;
}

th, tr, td, thead, tbody {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}

th,
td {
	margin: 0;
	padding: 0.5em 0.6em;
}

th {
	border-bottom: 2px solid black;
}

td {
	border-bottom: 1px solid #ddd;
}