.content-single-col {
	width: 100%;
	max-width: 760px;
}

.footer-poc-warning {
	background: var(--yellow-bg-color);
	color: var(--brown-text-color);
	font-size: var(--xs-font-size);

	strong {
		color: var(--brown-text-color);
	}
}

@media screen and (min-width: 769px) {
	.is-small-hero {
		.hero-body {
			padding: 2rem 1rem;
		}

		.title {
			font-size: var(--lead-font-size);
		}

		.subtitle {
			font-size: var(--md-font-size);
		}
	}
}

@media screen and (min-width: 1024px) {
	.column {
		&.article-left-nav {
			flex: none;
			width: 18%;
			border-right: 1px solid var(--grey-border-color);
		}

		&.article-right-nav {
			flex: none;
			width: 15%;
		}
	}

	.article-next-prev {
		// border-top: 1px solid var(--grey-border-color);
		// border-bottom: 1px solid var(--grey-border-color);

		.column:last-child {
			// border-left: 1px solid var(--grey-border-color);
			text-align: right;

			span:first-child {
				text-align: left;
			}
		}

		.button {
			display: inline-block;
			height: auto;
			&:first-child {
				text-align: right;
			}

			span {
				display: block;

				&:first-child {
					font-size: var(--xs-font-size);
					color: var(--purple-extra-light-color);
				}
			}
		}
	}
}
