// @import '../node_modules/@cloudkube/ui/src/scss/main.scss';

@import 'vars';
@import 'bulma';
// @import 'poc/normalize';
// @import 'poc/layout';
// @import 'poc/typography';
// @import 'poc/buttons';
// @import 'poc/forms';
// @import 'poc/navigation';

// @import 'poc/articles';
// @import 'poc/score';
// @import 'poc/results';
// @import 'poc/print';

@import 'app/header';
@import 'app/footer';
@import 'sidenav';
@import 'tables';
@import 'app/questions';
@import 'app/score';
@import 'app/results';

// .has-scroll-anchor {
// 	scroll-margin-top: 120px;
// }

// Bulma Override needed for Logo

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
	padding-top: 4.25rem;
}

.capitalize-case {
	text-transform: capitalize;
}

.category-title {
	text-transform: capitalize;
	font-size: 1.8rem;
	// border-bottom: 6px solid var(--purple-color);
	// padding-bottom: 4px;

	background: var(--purple-color);
	color: #fff;
	padding: 0.4em 0.85em;
}

.sidebar-disclaimer {
	margin: 1.5em 0;
	font-size: var(--xs-font-size);
	line-height: 1.4em;
	color: var(--md-grey-font-color);

	a:link, a:visited {
		color: var(--md-grey-font-color);
	}
}

a {
	&.has-no-underline {
		text-decoration: none;
	}
}