.btn {
	display: inline-block;
	margin: 0.25rem 0.125rem;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	line-height: 1.5;
	vertical-align: middle;
	user-select: none;
	background: transparent;
	transition:
		color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;

	& + .btn {
		margin-left: 0.4em;
	}
}

.btn-sm {
	font-size: 0.8em;
}

.btn-lrg {
	font-size: 1.3em;
}

.btn-block {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0.7em 0;

	& + .btn {
		margin-left: 0;
	}
}

button,
select {
	text-decoration: none;
	text-transform: none;
}

button,
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}


/**
 * Colors
 */
.btn-primary {
	color: white;
	background: var(--primary-color);
	border-color: var(--primary-color);

	&:link, &:visited {
		color: #fff;
	}

	&:hover, &:active {
		background-color: var(--primary-hover-color);
		border-color: var(--primary-hover-color);
	}
}

.btn-primary-outline {
	border-color: var(--primary-color);
	background: transparent;
	color: var(--primary-color);

	&:hover, &:active, &:focus {
		background: var(--primary-color);
		border-color: var(--primary-color);
		color: #fff;
	}
}

.btn-orange {
	&:link, &:visited {
		color: #fff;
	}

	&:hover, &:active {
		color: #111;
		background-color: #f4db7d;
	}
}

