body {
	background: var(--body-bg-color);
}

* {
	box-sizing: border-box;
}

body,
.content {
	margin: 0;
	padding: 0;
}

.container-wrapper {
	margin: 1em auto;
	padding-left: var(--gutter-width);
	padding-right: var(--gutter-width);
	max-width: var(--page-max-width);
}

// .app-navigation {
// 	border-right: 1px solid var(--layout-border-color);
// }

.app-grid {
	display: grid;
	grid-template-columns: var(--nav-width) 1fr var(--sidebar-width);
}

.app-sidebar {
	padding-left: 1em;
}
