@import './vars';

body {
	background: var(--light-grey-bg-color);
}

body,
.content {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 1em auto;
	max-width: var(--page-max-width);
}

.app-main,
.app-sidebar {
	box-sizing: border-box;
}

.app-main {
	display: grid;
	grid-template-columns: 1fr var(--sidebar-width);
}

.app-sidebar {
	padding-left: 1em;
	.score {
		position: sticky;
		top: 0;
		left: 0;
	}
}

.app-header {
	background: var(--purple-color);
	color: #fff;
	padding: 0.5rem 0;
}

.app-header h1 {
	margin: 0;
	font-size: 1.4rem;
}

.app-header {
	a {
		text-decoration: none;

		&:link, &:visited {
			color: #fff;
		}

		&:hover, &:active {
			color: var(--yellow-color);
		}
	}
}