@import './vars';

body {
	background: var(--light-grey-bg-color);
}

body,
.content {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 1em auto;
	max-width: var(--page-max-width);
}

.app-main,
.app-sidebar {
	box-sizing: border-box;
}

.app-main {
	display: grid;
	grid-template-columns: 1fr var(--sidebar-width);
}

.app-sidebar {
	padding-left: 1em;
	.score {
		position: sticky;
		top: 0;
		left: 0;
	}
}