body {
	font-weight: 400;
	font-size: 16px; // 0.96rem;
	line-height: 1.4em;
	font-family: var(--body-font);
	color: var(--body-text-color);
}

a {
	&:link {
		color: var(--purple-color);
	}

	&:visited {
		color: #182a76; // var(--dark-purple-color);
		// color: #c1c4f7; //var(--space-cadet-color);
	}

	&:hover, &:active {
		color: var(--teal-color); //var(--outrageous-orange-color);
	}
}

h1, h2, h3 {
	font-family: var(--heading-font);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.7rem;
	color: var(--purple-color);
}

pre {
	background: #f1f1f1;
	padding: 1em;
}

.page-title {
	font-size: 2em;
	color: var(--cherry-color);
}

.category-title {
	text-transform: capitalize;
	font-size: 1.8rem;
}

.question-title {
	font-size: 1.3rem;
}

.lead {
	font-weight: 300;
	font-size: 1.6em;
	max-width: 700px;
	line-height: 1.4em;
}

h1 {
	font-size: var(--lg-font-size);
}

blockquote {
	background: #fafafa;
	padding: 1em 2em;
	border-left: 10px solid #eee;
	margin: 1em 0;
}
