:root {
	--page-max-width: 1200px;
	--sidebar-width: 360px;

	--body-font: 'Roboto', 'Source Sans Pro', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;

	--sm-font-size: 0.9rem;
	--md-font-size: 1.1rem;
	--lg-font-size: 1.3rem;

	--space-cadet-color: #1a2238;
	--outrageous-orange-color: #ff6a3d;

	--purple-color: #3752c7;
	--yellow-color: #f4db7d;
	--cherry-color: #e94d15;
	--meter-color: #19d7a0;
	--body-text-color: #222;
	--footer-text-color: var(--md-grey-font-color);

	--md-grey-font-color: #aaa;
	--grey-border-color: #ddd;
	--light-grey-bg-color: #f8f8fa;
}
