.app-header {
	border-top: 5px solid var(--primary-color);
	border-bottom: 1px solid var(--layout-border-color);
	padding: 0.2rem 0;

	.navbar-title {
		font-size: 1.5rem;
		font-weight: 600;
		font-family: var(--heading-font);

		.slashes {
			color: var(--teal-color);
			margin: 0 0.6em 0 0.5em;
			letter-spacing: -4px;
		}

		.section-title {
			color: var(--primary-color);
			font-weight: 600;
		}

		@include until($tablet) {
			font-size: 1rem;
		}

		// span {
		// 	color: var(--teal-color);
		// 	margin: 0 0.4em;
		// }
	}

	a {
		&:hover, &:active {
			text-decoration: none;
			color: var(--purple-color);
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	.navbar-menu {
		// font-family: var(--heading-font);
		font-size: var(--sm-font-size);
	}
}

.cloudkube-logo {
	vertical-align: middle;
	height: auto;
	max-width: 48px;
	max-height: 48px !important;
	margin-left: -3px;
	margin-right: 8px;
}

