#mermaid-1681070570850 {
	font-family: "Inconsolata", "trebuchet ms", verdana, arial, sans-serif;
	font-size: 16px;
	fill: #333;
}

#mermaid-1681070570850 .error-icon {
	fill: hsl(220.5882352941, 100%, 98.3333333333%);
}

#mermaid-1681070570850 .error-text {
	fill: rgb(8.5000000002, 5.7500000001, 0);
	stroke: rgb(8.5000000002, 5.7500000001, 0);
}

#mermaid-1681070570850 .edge-thickness-normal {
	stroke-width: 2px;
}

#mermaid-1681070570850 .edge-thickness-thick {
	stroke-width: 3.5px;
}

#mermaid-1681070570850 .edge-pattern-solid {
	stroke-dasharray: 0;
}

#mermaid-1681070570850 .edge-pattern-dashed {
	stroke-dasharray: 3;
}

#mermaid-1681070570850 .edge-pattern-dotted {
	stroke-dasharray: 2;
}

#mermaid-1681070570850 .marker {
	fill: #0b0b0b;
	stroke: #0b0b0b;
}

#mermaid-1681070570850 .marker.cross {
	stroke: #0b0b0b;
}

#mermaid-1681070570850 svg {
	font-family: Inconsolata, verdana, arial, sans-serif;
	font-size: 16px;
}

#mermaid-1681070570850 .commit-id,
#mermaid-1681070570850 .commit-msg {
	fill: lightgrey;
	color: lightgrey;
	font-family: "Inconsolata", arial, sans-serif;
}

#mermaid-1681070570850 .branch-label {
	fill: lightgrey;
	color: lightgrey;
	font-family: "Kollektif", arial, sans-serif;
}

#mermaid-1681070570850 .branch-label0 {
	fill: #111111;
}

#mermaid-1681070570850 .commit0 {
	stroke: #ff4930;
	fill: #ff4930;
}

#mermaid-1681070570850 .commit-highlight0 {
	stroke: #ff4930;
	fill: #ff4930;
}

#mermaid-1681070570850 .label0 {
	fill: #ff4930;
}

#mermaid-1681070570850 .arrow0 {
	stroke: #ff4930;
}

#mermaid-1681070570850 .branch-label1 {
	fill: #111111;
}

#mermaid-1681070570850 .commit1 {
	stroke: #f6c65b;
	fill: #f6c65b;
}

#mermaid-1681070570850 .commit-highlight1 {
	stroke: rgb(52.2500000001, 161.5000000002, 0);
	fill: rgb(52.2500000001, 161.5000000002, 0);
}

#mermaid-1681070570850 .label1 {
	fill: #f6c65b;
}

#mermaid-1681070570850 .arrow1 {
	stroke: #f6c65b;
}

#mermaid-1681070570850 .branch-label2 {
	fill: #111111;
}

#mermaid-1681070570850 .commit2 {
	stroke: hsl(220.5882352941, 100%, 73.3333333333%);
	fill: hsl(220.5882352941, 100%, 73.3333333333%);
}

#mermaid-1681070570850 .commit-highlight2 {
	stroke: rgb(136.0000000002, 92.0000000001, 0);
	fill: rgb(136.0000000002, 92.0000000001, 0);
}

#mermaid-1681070570850 .label2 {
	fill: hsl(220.5882352941, 100%, 73.3333333333%);
}

#mermaid-1681070570850 .arrow2 {
	stroke: hsl(220.5882352941, 100%, 73.3333333333%);
}

#mermaid-1681070570850 .branch-label3 {
	fill: #111111;
}

#mermaid-1681070570850 .commit3 {
	stroke: hsl(10.5882352941, 100%, 68.3333333333%);
	fill: hsl(10.5882352941, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .commit-highlight3 {
	stroke: rgb(0, 133.0000000002, 161.5000000002);
	fill: rgb(0, 133.0000000002, 161.5000000002);
}

#mermaid-1681070570850 .label3 {
	fill: hsl(10.5882352941, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .arrow3 {
	stroke: hsl(10.5882352941, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .branch-label4 {
	fill: #111111;
}

#mermaid-1681070570850 .commit4 {
	stroke: hsl(-19.4117647059, 100%, 68.3333333333%);
	fill: hsl(-19.4117647059, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .commit-highlight4 {
	stroke: rgb(0, 161.5000000002, 109.2500000001);
	fill: rgb(0, 161.5000000002, 109.2500000001);
}

#mermaid-1681070570850 .label4 {
	fill: hsl(-19.4117647059, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .arrow4 {
	stroke: hsl(-19.4117647059, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .branch-label5 {
	fill: #111111;
}

#mermaid-1681070570850 .commit5 {
	stroke: hsl(-49.4117647059, 100%, 68.3333333333%);
	fill: hsl(-49.4117647059, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .commit-highlight5 {
	stroke: rgb(0, 161.5000000002, 28.5);
	fill: rgb(0, 161.5000000002, 28.5);
}

#mermaid-1681070570850 .label5 {
	fill: hsl(-49.4117647059, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .arrow5 {
	stroke: hsl(-49.4117647059, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .branch-label6 {
	fill: #111111;
}

#mermaid-1681070570850 .commit6 {
	stroke: hsl(100.5882352941, 100%, 68.3333333333%);
	fill: hsl(100.5882352941, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .commit-highlight6 {
	stroke: rgb(109.2500000001, 0, 161.5000000002);
	fill: rgb(109.2500000001, 0, 161.5000000002);
}

#mermaid-1681070570850 .label6 {
	fill: hsl(100.5882352941, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .arrow6 {
	stroke: hsl(100.5882352941, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .branch-label7 {
	fill: #111111;
}

#mermaid-1681070570850 .commit7 {
	stroke: hsl(160.5882352941, 100%, 68.3333333333%);
	fill: hsl(160.5882352941, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .commit-highlight7 {
	stroke: rgb(161.5000000002, 0, 52.2500000001);
	fill: rgb(161.5000000002, 0, 52.2500000001);
}

#mermaid-1681070570850 .label7 {
	fill: hsl(160.5882352941, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .arrow7 {
	stroke: hsl(160.5882352941, 100%, 68.3333333333%);
}

#mermaid-1681070570850 .branch {
	stroke-width: 1;
	stroke: #cccccc;
	stroke-dasharray: 2;
}

#mermaid-1681070570850 .commit-label {
	font-size: 10px;
	fill: #111111;
}

#mermaid-1681070570850 .commit-label-bkg {
	font-size: 10px;
	fill: #ffffff;
	opacity: 0.8;
}

#mermaid-1681070570850 .tag-label {
	font-size: 12px;
	fill: #ffffff;
}

#mermaid-1681070570850 .tag-label-bkg {
	fill: #ff4930;
	stroke: #ff4930;
}

#mermaid-1681070570850 .tag-hole {
	fill: #333;
}

#mermaid-1681070570850 .commit-merge {
	stroke: #fff4dd;
	fill: #fff4dd;
}

#mermaid-1681070570850 .commit-reverse {
	stroke: #fff4dd;
	fill: #fff4dd;
	stroke-width: 3;
}

#mermaid-1681070570850 .commit-highlight-inner {
	stroke: #fff4dd;
	fill: #fff4dd;
}

#mermaid-1681070570850 .arrow {
	stroke-width: 8;
	stroke-linecap: round;
	fill: none;
}

#mermaid-1681070570850 .gitTitleText {
	text-anchor: middle;
	font-size: 18px;
	fill: #333;
}

:root {
	--mermaid-font-family: "Kollektif", verdana, arial, sans-serif;
}
